<div class="jumbotron">
  <div id="map">
    <map default-style="true" zoom="1">
      <marker ng-repeat="p in vm.marks" id="{{p.id}}" position="{{p.position}}" on-click="vm.infoDisplay(p, vm);">
      </marker>

      <info-window id="post-data" position="{{vm.currentMarker.position}}">
        <div ng-non-bindable>
            <ul class="nav nav-tabs" id="info-tabs">
              <li class="active"><a class="tabber" data-toggle="tab" href="#post-tab">Post</a></li>
              <li><a class="tabber" data-toggle="tab" href="#image-tab">Images</a></li>
            </ul>
          <h3>{{vm.currentMarker.post.title}}</h3>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="post-tab">
              <p style="font-size:9px">{{vm.currentMarker.post.text}}</p>
            </div>
            <div class="tab-pane fad" id="image-tab">
            </div>
          </div>
        </div>
     </info-window>
    </map>
  </div>
</div>

